[user]
    name = Rafał Długołęcki
    email = rafal@dlugolecki.net.pl
[core]
    excludesfile = /home/rafal/.gitignore_global
[merge]
    tool = vimdiff
    conflictStyle = zdiff3
[diff]
    tool = vimdiff
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[includeIf "gitdir:~/prj/Effiana/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/prj/BrandOriented/"]
  path = ~/.gitconfig-work
