[user]
	name = Rafał Długołęcki
	email = rafal@dlugolecki.net.pl
[core]
	excludesfile = /home/rafal/.gitignore_global
[merge]
    tool = vimdiff
	conflictStyle = zdiff3
[diff]
	tool = vimdiff
[difftool]
	prompt = false
