/*
 * https://cloudninja.pw/docs/wofi.html
 * https://rosepinetheme.com/palette/ingredients/
 */
/* Rosé Pine */
/*
:root {
--base-color: #191724;
--surface-color: #1f1d2e;
--overlay-color: #26233a;
--muted-color: #6e6a86;
--subtle-color: #908caa;
--text-color: #e0def4;
--love-color: #eb6f92;
--gold-color: #f6c177;
--rose-color: #ebbcba;
--pine-color: #31748f;
--foam-color: #9ccfd8;
--iris-color: #c4a7e7;
--highlight-low: #21202e;
--highlight-med: #403d52;
--highlight-high: #524f67;
}
*/

window {
    font-family: "Iosevka";
    margin: 0;
    border: 1px solid #6e6a86;
    font-size: 16px;
    background-color: #181818;
}

#input {
    background-color: #191724;
    color: #908caa;
    margin: 1px;
}
#entry {
    color: #6e6a86;
    margin: 0.15em;
    border: 0.1em solid #191724;
    background-color: #1f1d2e;
}
#entry:selected {
    background-color: #26233a;
    border: 1px solid #c4a7e7;
}

#text:selected {
    color: #f6c177;
}
